.item {
   background: #ffffff;
   border: 1px solid #f1f1f5;
   box-sizing: border-box;
   box-shadow: 0px 12px 18px rgba(23, 23, 37, 0.04);
   border-radius: 4px;
   width: 200px;
   height: 240px;
   display: inline-block;
   flex: 0 0 auto;
   margin-right: 24px;
}
.item_body {
   padding-left: 16px;
   white-space: pre-wrap;
}
.item_img {
   width: 199px;
   height: 98px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}
.item_coins {
   font-family: "Hellix";
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   color: #0062ff;
}
.item_description {
   font-family: "Hellix";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: -0.005em;
   color: #92929d;
   margin-top: 8px;
}
