@font-face {
   font-family: "Hellix";
   src: local("Hellix Medium"), local("Hellix-Medium"),
      /* url("./assets/fonts/Hellix-Medium.woff2") format("woff2"),
      url("./assets/fonts/Hellix-Medium.woff") format("woff"),
      url("./assets/fonts/Hellix-Medium.ttf") format("truetype"), */
         /* url("./assets/fonts/Hellix-Bold.woff2") format("woff2"),
      url("./assets/fonts/Hellix-Bold.woff") format("woff"),
      url("./assets/fonts/Hellix-Bold.ttf") format("truetype"), */
         url("./assets/fonts/Hellix-Regular.woff2") format("woff2"),
      url("./assets/fonts/Hellix-Regular.woff") format("woff"),
      url("./assets/fonts/Hellix-Regular.ttf") format("truetype");
   font-style: normal;
   font-weight: 300;
}
